<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>


</head>
<body>
<h1>Add Drinks</h1>

<form method="get" action="add">
Name:<input type="text" name="name"/>
<br><br>
Main:<input type="text" name="main"/>
<br>
Amount:<input type="text" name="amount1"/>
<br><br><br>
Second:<input type="text" name="second"/>
<br>
Amount:<input type="text" name="amount2"/>
<br><br><br>
Directions:<input type="text" name="description"/>
<br><br>
<input type="submit" value="Submit"/>

</form>
</body>
</html>